@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.hero {
    background-image: url(https://res.cloudinary.com/nifemi/image/upload/v1605323723/bird-763769_1920_pcktfd.jpg);
    position: relative;
    background-position: 50%;
    background-size: cover;
    background-color: #555;
    margin: 0 0 20px;
    text-align: center;
    transition: .8s;
    color: #ffffff;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
}

.top{
    position: relative;
    padding: 250px 20px 5px;
}

.hero h1{
    font-size: 55px;
    font-family: 'Jost', sans-serif !important;
    font-weight: bolder;
    margin-top: -20px;
}

.hero h2{
    margin-bottom: -10px;
    font-weight: normal;
}

.search_form {
    max-width: 900px;
    position: relative;
    padding: 0 50px;
    margin: 25px auto 50px;
}
p{
    z-index: 99999;
}


@media screen and (max-width: 405px){
    .hero h1{
        font-weight: bolder;
        font-size: 30px;
        margin-top: -150px;
    }
    .hero h2 {
        font-size: 22px;
        font-weight: normal !important;
    }
}

/* SEARCH INPUT STYLING GOES HERE */
.input_container{
    display: flex;
    justify-content: center;
    align-content: center;
}

