.button{
  background-color: #14181b;
  padding: 12px 60px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.button:hover{
  background-color: rgb(53, 51, 51);
  border-radius: 20px;
  color: rgb(174, 187, 173);
}