@import '~boxicons/css/boxicons.css';


.button{
  background-color: #14181b;
  padding: 12px 60px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.button:hover{
  background-color: rgb(53, 51, 51);
  border-radius: 20px;
  color: rgb(174, 187, 173);
}


.download-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.image-card{
  display: block;
  margin: 20px auto;
  background-color: aliceblue;
  padding: 1.3em;
  width: fit-content;
  height: fit-content;
  border-radius: .5em;
}